<div class="container-fluid">
  <div class="landing-content">
     <div class="top-content">
       <div class="row">
         <div class="col-md-6 col-sm-12">
           <div class="top-logo text-left">
            <h1><span class="span">R</span>FID</h1>
           </div>
           <div class="bottom-content text-left">
             <div class="app-desc">
              <h2>Muthon a modern web based platform for <span class="span">RFID systems!</span> </h2>
              <p>RFID is a web based platform that helps Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt rem eum eius, aliquam non obcaecati perferendis officiis ab ipsa repellendus animi nisi, quam atque, saepe porro? Praesentium deleniti in quo!</p>
             </div>
             <div class="get-started">
               <button class="btn btn-primary" [routerLink]="'/dashboard'">
                 Get started!
               </button>
             </div>
           </div>
         </div>
         <div class="col-md-6 col-sm-12">
            <div class="descr-images">
              <img src="../../../assets/homebg.PNG" alt="" srcset="">
            </div>
         </div>
       </div>
     </div>
  </div>
</div>
